* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    top: 0;
    position: sticky;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5px 50px;
    background-color: #384955;
}

header img {
    width: 200px;
    height: auto;
}

footer {
    width: 100%;
    height: auto;
    padding: 30px 20px;
    padding-top: 40px;
    background-color: #384955;
    text-align: center;
}

footer #ftr-box {
    display: flex;
}

footer #ftr-L,
footer #ftr-R {
    width: 50%;
}

footer #ftr-L a,
footer #ftr-R a {
    color: white;
    font-family: serif;
    font-size: 10px;
}

footer #ftr-L {
    text-align: left;
}

footer #ftr-R {
    text-align: right;
}

footer img {
    width: 150px;
    height: auto;
}

.sidebar {
    width: 250px;
    /* width: 0; */
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    height: 82%;
    border-radius: 25px;
    left: 10px;
}

.sidebar {
    text-align: center;
}

.nav-bar-btn {
    border-color: azure;
    border-style: solid 1px;
    border-radius: 20px;
    width: 70%;
    height: 35px;
    background-color: #111;
    color: aliceblue;
}

.sidebar a {
    color: white;
}

#nav-heading {
    text-align: center;
}