{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThoughtThread | Login</title>

    <!-- stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- icon -->
    <link rel="icon" href="{% static 'images/logos/thoughtthread-icon.png' %}">

</head>

<body>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        <div class="alert 
                {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <main>

        <div class="auth-page-row">

            <div class="colL">
                <img src="{% static 'images/logos/thoughtthread-logo-square.png' %}" alt="thoughtthread." width="70%" class="fade-in-logo">
            </div>

            <div class="colR">

                <div class="row justify-content-center">

                    <!-- Login Section -->
                    <h3 class="text-center mb-3">LOGIN</h3>

                    <form method="POST" action="journal/logIn/" id="login">

                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" class="form-control" id="username" name="username"
                                placeholder="Enter Username" required>
                        </div>

                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Enter Password" required>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Login</button>

                    </form>

                    <div id="signup-link">
                        <a id="signup-link-none">Don't have an Account, </a>
                        <a href="{% url 'register' %}" id="signup-link">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

</body>

</html>