{% load static %}
<!DOCTYPE html>
<html>

<head>

  <title>ThoughtThread | Change Password</title>

  <!-- stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- icon -->
  <link rel="icon" href="{% static 'images/logos/thoughtthread-icon.png' %}">

</head>

<body>

  <!-- header -->
  <header>

    <div id="header-logo">
      <a href="{% url 'index' %}">
        <img src="{% static 'images/logos/thoughtthread-logo-rect.png' %}" alt="thoughtthread." width="35%">
      </a>
    </div>

    <div id="header-nav">
      <nav>
        <a href="{% url 'profSetting' %}"><button title="Settings"><img
              src="{% static 'images/button-icons/profile.png' %}" alt="Profile Settings"></button></a>
      </nav>
    </div>

  </header>

  <main id="profSettingsPage">
    <h1>Change Your Password</h1><br>

    <form method="POST" action="">
      {% csrf_token %}
      {{ form.as_p }}<br>
      <button type="submit">Change</button>
    </form>
  </main>

  <!-- for customised themes -->
  <script>

    let p_c = "{{user.theme.primary_color}}"; // primary colour from database
    let s_c = "{{user.theme.secondary_color}}"; // secondary colour from database
    let t_c = "{{user.theme.tertiary_color}}"; // tertiary colour from database

    // applying the three colours to the entire document's style
    document.documentElement.style.setProperty('--primary_color', p_c);
    document.documentElement.style.setProperty('--secondary_color', s_c);
    document.documentElement.style.setProperty('--tertiary_color', t_c);

  </script>

</body>

</html>