{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>ThoughtThread | Change Password</title>
  <!-- linking main stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- setting the website favicon -->
  <link rel="icon" href="{% static 'images/logos/thoughtthread-icon.png' %}">
</head>
<body>
  <!-- header section -->
  <header>
    <!-- logo linking to homepage -->
    <div id="header-logo">
      <a href="{% url 'index' %}">
        <img src="{% static 'images/logos/thoughtthread-logo-rect.png' %}" alt="thoughtthread." width="35%">
      </a>
    </div>
    <!-- navigation bar -->
    <div id="header-nav">
      <nav>
        <!-- button to return to profile settings page -->
        <a href="{% url 'profSetting' %}"><button title="Settings">
          <img src="{% static 'images/button-icons/profile.png' %}" alt="Profile Settings">
        </button></a>
      </nav>
    </div>
  </header>
  <!-- main content section -->
  <main id="profSettingsPage">
    <!-- heading for password change section -->
    <h1>Change Your Password</h1><br>
    <!-- form for password change -->
    <form method="POST" action="">
      {% csrf_token %}
      <!-- rendering django password change form fields -->
      {{ form.as_p }}<br>
      <!-- submit button to change the password -->
      <button type="submit">Change</button>
    </form>
  </main>

  <!-- script to apply user-selected theme colors -->
  <script>
    // retrieving user-selected theme colors from the backend
    let p_c = "{{user.theme.primary_color}}"; 
    let s_c = "{{user.theme.secondary_color}}"; 
    let t_c = "{{user.theme.tertiary_color}}"; 

    // setting default colors if no theme colors are saved
    if (p_c.length == 0 && s_c.length == 0 && t_c.length == 0) {
      p_c = '#383940';
      s_c = '#43545b';
      t_c = '#7b96a2';
    }

    // applying colors as css variables for consistent theming
    document.documentElement.style.setProperty('--primary_color', p_c);
    document.documentElement.style.setProperty('--secondary_color', s_c);
    document.documentElement.style.setProperty('--tertiary_color', t_c);

  </script>
</body>
</html>
