<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThoughtThread | Journal Entry</title>

    <link rel="stylesheet" href="/journalApp/static/css/style.css">
    <link rel="icon" href="/journalApp/static/images/icon/icon.png">

</head>

<body>

    <header>
        <img src="/journalApp/static/images/logo.png" alt="thoughtthread.">
    </header>

    <main id="main" class="journalentrypage">

        <!-- Journal Entry Form -->
        <form action="" id="journalForm">

            <textarea id="journalTitle" placeholder="Journal Title" maxlength="100"></textarea>

            <div id="journalEntry" contenteditable="true">Type your thoughts away...</div>

        </form>

        <!-- ToolBar -->
        <div class="toolbar">

            <!-- Increase font size button -->
            <button onclick="changeSize('up')">
                <img src="/journalApp/static/images/text-format-icons/font-size-up.png" alt="Increase Font Size">
            </button>

            <!-- Decrease font size button -->
            <button onclick="changeSize('down')">
                <img src="/journalApp/static/images/text-format-icons/font-size-down.png" alt="Decrease Font Size">
            </button>

            <!-- Make text bold button -->
            <button onclick="formatText('bold')" id="bold">
                <img src="/journalApp/static/images/text-format-icons/bold.png" alt="Bold">
            </button>

            <!-- Make text Italic button -->
            <button onclick="formatText('italic')">
                <img src="/journalApp/static/images/text-format-icons/italic.png" alt="Italic">
            </button>

            <!-- Make text Underline button -->
            <button onclick="formatText('underline')">
                <img src="/journalApp/static/images/text-format-icons/underline.png" alt="Underline">
            </button>

            <!-- Change text alignment button -->
            <button onclick="changeAlignment('left')">
                <img src="/journalApp/static/images/text-format-icons/left-align.png" alt="Left-Align">
            </button>

            <!-- Change text alignment button -->
            <button onclick="changeAlignment('center')">
                <img src="/journalApp/static/images/text-format-icons/center.png" alt="Center-Align">
            </button>

            <!-- Change text alignment button -->
            <button onclick="changeAlignment('right')">
                <img src="/journalApp/static/images/text-format-icons/right-align.png" alt="Right-Align">
            </button>

            <!-- Insert Bullet Points button -->
            <button onclick="insertBulletList()">
                <img src="/journalApp/static/images/text-format-icons/bullet-points.png" alt="Bullet-Points">
            </button>

            <!-- Insert Numbered Points button -->
            <button onclick="insertNumberedList()">
                <img src="/journalApp/static/images/text-format-icons/numbered points.png" alt="Numbered-List">
            </button>

            <!-- Add a Tag button -->
            <button>
                <img src="/journalApp/static/images/text-format-icons/tags.png" alt="Add Tag">
            </button>

            <!-- Add Attachments button -->
            <button>
                <img src="/journalApp/static/images/text-format-icons/attachments.png" alt="Add Attachments">
            </button>

            <!-- Download the Journal Entry button -->
            <button onclick="downloadJournal()">
                <img src="/journalApp/static/images/text-format-icons/download.png" alt="Download">
            </button>

            <!-- Save the Journal Entry button -->
            <button>
                <img src="/journalApp/static/images/text-format-icons/save.png" alt="Save Entry">
            </button>

        </div>

    </main>

    <footer>
        <div>
            <img src="/journalApp/static/images/logo.png" alt="thoughtthread.">
        </div>
        <div id="ftr-box">
            <div id="ftr-L">
                <a>&#169;ThoughtThread 2025</a>
            </div>
            <div id="ftr-R">
                <a>Contact Us</a>
            </div>
        </div>
    </footer>

    <script src="/journalApp/static/scripts/text-format.js"></script>

</body>

</html>