{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThoughtThread | Profile Settings</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/icons/thoughtthread-icon.png' %}">

</head>

<body>
    <header>
        <img src="{% static 'images/logo.png' %}" alt="thoughtthread.">
    </header>

    <main id="settings-page">

        <div id="profile-settings">
            <h2>Profile Settings</h2>
            <hr>

            <div class="row">
                <div class="col1">
                    <h4>Username</h4>
                </div>
                <div class="col2">
                    {{ user.username }}
                </div>
            </div>

            <div class="row">
                <div class="col1">
                    <h4>Email</h4>
                </div>
                <div class="col2">
                    {{ user.email }}
                </div>
            </div>
        </div>

        <br><br>
        <div id="theme-settings">
            <h2>Application Theme</h2>
            <hr>
            <form action="">
                <div>
                    <label for="">Primary Colour</label>
                    <input type="color" value="">
                </div>
                <div>
                    <label for="">Secondary Colour</label>
                    <input type="color" value="">
                </div>
                <button type="submit" class="btn btn-success w-100">Apply Theme</button>
            </form>
        </div>

        <br><br>
        <div id="password-settings">
            <h2>Reset Password</h2>
            <hr>
            <form action="">
                <div>
                    <input type="password" class="form-control" id="password1" name="password1"
                        placeholder="Enter Password" required>
                </div>
                <div>
                    <input type="password" class="form-control" id="password2" name="password2"
                        placeholder="Confirm Password" required>
                </div>
                <button type="submit" class="btn btn-success w-100">Change Password</button>
            </form>
        </div>
        <a href="{% url 'changePass' %}">Change Password</a>

        <br><br>
        <div id="account-settings">
            <h2>Account Settings</h2>
            <hr>

            <h4>[text about what itll do]</h4>
            <button>Clear All Account Settings</button><br><br><br>

            <h4>[text about what itll do]</h4>
            <button>Delete All Account Data</button><br><br><br>

            <h4>[text about what itll do]</h4>
            <button>Delete Account</button><br><br><br>
        </div>

    </main>

    <footer>
        <div>
            <img src="{% static 'images/logo.png' %}" alt="thoughtthread.">
        </div>
        <div id="ftr-nav">
            <a href="{% url 'index' %}">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <div id="ftr-cp">
            <a>&#169;ThoughtThread 2025</a>
        </div>
    </footer>

</body>

</html>