{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThoughtThread | Settings</title>

    <!-- style sheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- icon -->
    <link rel="icon" href="{% static 'images/logos/thoughtthread-icon.png' %}">

</head>

<body>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        <div class="alert 
                {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- header -->
    <header>

        <div id="header-logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logos/thoughtthread-logo-rect.png' %}" alt="thoughtthread." width="35%">
            </a>
        </div>

        <div id="header-nav">
            <nav>
                <a href="{% url 'index' %}"><button title="Dashboard"><img
                            src="{% static 'images/button-icons/dashboard.png' %}" alt="Dashboard"></button></a>

                {% if user.is_authenticated %}
                <a href="{% url 'logOut' %}"><button title="Logout">
                    <img src="{% static 'images/button-icons/logout.png' %}" alt="Logout">
                </button></a>
                {% endif %}
            </nav>
        </div>

    </header>

    <main id="settings-page">

        <div id="profile-settings">

            <h2>Profile</h2>
            <hr>

            <div class="box">
                <div id="profile-img">
                    <img src="{% static 'images/button-icons/profile-icon.png' %}" alt="Profile Image" width="40%">
                </div>

                <div id="profile-details">
                    <a>Username: {{ user.username }}</a><br>
                    <a>Email: {{ user.email }}</a>
                </div>
            </div>

        </div>

        <br><br>

        <div id="theme-settings">

            <h2>Themes</h2>
            <hr>

            <form action="{% url 'updateTheme' %}" method="POST">

                {% csrf_token %}

                <div>
                    <label for="primary_color">Primary Colour&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>

                    <!-- Optionally prefill with the user's existing primary_color -->
                    <input type="color" name="primary_color" value="{{ user.theme.primary_color|default:'#383940' }}">
                </div>

                <div>
                    <label for="secondary_color">Secondary Colour&nbsp;&nbsp;</label>
                    <input type="color" name="secondary_color"
                        value="{{ user.theme.secondary_color|default:'#43545b' }}">
                </div>
                <div>
                    <label for="tertiary_color">Tertiary
                        Colour&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="color" name="tertiary_color" value="{{ user.theme.tertiary_color|default:'#7b96a2' }}">
                </div>

                <div class="settings-btn">
                    <button type="submit" class="btn btn-success w-100">Apply Theme</button>
                </div>

            </form>

        </div>

        <br><br>

        <div id="password-settings">

            <h2>Reset Password</h2>
            <hr>
            <br>
            <a>To change your password, simply click the "Change Password" button below. You will be redirected to a
                secure page where you can enter and update your new password. Make sure to choose a strong and unique
                password to keep your account safe.</a>

            <div class="settings-btn">
                <a href="{% url 'changePass' %}"><button>Change Password</button></a>
            </div>

        </div>


        <br><br>
        <div id="account-settings">

            <h2>Account Settings</h2>
            <hr>

            <br>
            <h4>Delete all Journal Entries, Tags, and Attachments</h4>
            <br>
            <a>Warning: Pressing this button will permanently delete all your Journal Entries, Tags, and Attachments.
                This action cannot be undone. Once deleted, all data will be lost.</a>

            <form action="{% url 'delData' %}" method="POST">
                {% csrf_token %}
                <div class="settings-btn">
                    <button type="submit"
                        onclick="return confirm('Are you sure you want to delete all data? This cannot be undone.');">
                        Delete All Account Data
                    </button>
                </div>
            </form>

            <h4>Delete Account</h4>
            <br>
            <a>Warning: Deleting your account will permanently erase all your data, including Journal Entries, Tags,
                Attachments, and any other associated information. This action cannot be undone. Once deleted, your
                account and all related data will
                be gone forever.</a>
            <form action="{% url 'delAccount' %}" method="POST">
                {% csrf_token %}
                <div class="settings-btn">
                    <button type="submit"
                        onclick="return confirm('Are you sure you want to delete your entire account? This cannot be undone.');">
                        Delete Account
                    </button>
                </div>
            </form>

        </div>

        <br><br><br><br>

    </main>

    <!-- footer -->
    <footer>
        <div>
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logos/thoughtthread-logo-rect.png' %}" alt="thoughtthread.">
            </a>
        </div>
        <div id="ftr-nav">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'aboutUs' %}">About</a>
            <a href="mailto:contact@thoughtthread.com">Contact</a>
        </div>


        <div id="ftr-cp">
            <a>&#169;ThoughtThread 2025</a>
        </div>
    </footer>

    <!-- for customised themes -->
    <script>

        let p_c = "{{user.theme.primary_color}}"; // primary colour from database
        let s_c = "{{user.theme.secondary_color}}"; // secondary colour from database
        let t_c = "{{user.theme.tertiary_color}}"; // tertiary colour from database

        // applying the three colours to the entire document's style
        document.documentElement.style.setProperty('--primary_color', p_c);
        document.documentElement.style.setProperty('--secondary_color', s_c);
        document.documentElement.style.setProperty('--tertiary_color', t_c);

    </script>

</body>

</html>