{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThoughtThread | View Journal Entry</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- icon -->
    <link rel="icon" href="{% static 'images/logos/thoughtthread-icon.png' %}">

</head>

<body>

    <!-- header -->
    <header>

        <div id="header-logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logos/thoughtthread-logo-rect.png' %}" alt="thoughtthread." width="35%" class="blink-effect">
            </a>
        </div>

        <div id="header-nav">
            <nav>
                <a href="{% url 'index' %}"><button title="Dashboard">
                    <img src="{% static 'images/button-icons/dashboard.png' %}" alt="Dashboard">
                </button></a>
                <a href="{% url 'profSetting' %}"><button title="Settings">
                    <img src="{% static 'images/button-icons/profile.png' %}" alt="Profile Settings">
                </button></a>

                {% if user.is_authenticated %}
                <a href="{% url 'logOut' %}"><button title="Logout">
                    <img src="{% static 'images/button-icons/logout.png' %}" alt="Logout">
                </button></a>
                {% endif %}
            </nav>
        </div>

    </header>

    <main id="view-entry-page">

        <div id="view-journal-title">
            <h3>{{ journal.title }}</h3>
        </div>
        <div id="tagJournal">
            {% if journal.tag %}
            <span class="tag-pill">{{ journal.tag.name }}</span>
            </p>
            {% else %}
            <p><em>No tag assigned.</em></p>
            {% endif %}
        </div>
        <hr>
        

        <div id="view-journal-entry">
            <p>{{ journal.content|safe }}</p>
        </div>

        <br>

        <br>
        <!-- Display attachments (if any) -->
        {% if journal.attachments.all %}
        <div class="attachment-section">
            <div class="attachment-container">
                <img src="{{ journal.attachments.first.image.url }}" alt="Attachment">
            </div>
        </div>
        {% endif %}


        <div id="journal-dates">
            <span class="date-pill"><strong>Created at:</strong> {{ journal.created_at }}</span>
            <span class="date-pill"><strong>Last updated:</strong> {{ journal.updated_at }}</span>
        </div>
        

        <br>
        <div id="vep-buttons">
            <a href="{% url 'editEntry' journal.entry_id %}">
                <button>Edit Entry</button>
            </a>
            <a href="{% url 'downloadEntry' journal.entry_id %}">
                <button>Download Entry</button>
            </a>
            <a href="{% url 'delEntry' journal.entry_id %}">
                <button>Delete Entry</button>
            </a>
        </div>

    </main>

    <!-- footer -->
    <footer>
        <div>
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logos/thoughtthread-logo-rect.png' %}" alt="thoughtthread.">
            </a>
        </div>
        <div id="ftr-nav">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'aboutUs' %}">About</a>
            <a href="mailto:contact@thoughtthread.com">Contact</a>
        </div>


        <div id="ftr-cp">
            <a>&#169;ThoughtThread 2025</a>
        </div>
    </footer>

    <!-- for customised themes -->
    <script>

        let p_c = "{{user.theme.primary_color}}"; // primary colour from database
        let s_c = "{{user.theme.secondary_color}}"; // secondary colour from database
        let t_c = "{{user.theme.tertiary_color}}"; // tertiary colour from database

        // applying the three colours to the entire document's style
        document.documentElement.style.setProperty('--primary_color', p_c);
        document.documentElement.style.setProperty('--secondary_color', s_c);
        document.documentElement.style.setProperty('--tertiary_color', t_c);

    </script>

</body>

</html>