{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThoughtThread | View Journal Entry</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- icon -->
    <link rel="icon" href="{% static 'images/icons/thoughtthread-icon.png' %}">
</head>

<body>
    <header>
        <img src="{% static 'images/logo.png' %}" alt="thoughtthread.">
    </header>

    <main>
        <div id="view-journal-title">
            <h3>Title:</h3>
            {{ journal.title }}
        </div>
        <div id="view-journal-entry">
            <h3>Content:</h3>
            <p>{{ journal.content|safe }}</p>
        </div>

        <!-- Show the tag if one is assigned -->
        {% if journal.tag %}
        <p><strong>Tag:</strong> {{ journal.tag.name }}</p>
        {% else %}
        <p><em>No tag assigned.</em></p>
        {% endif %}

        <!-- Display attachments (if any) -->
        {% if journal.attachments.all %}
        <h3>Attachments</h3>
        {% for attachment in journal.attachments.all %}
        <div>
            <img src="{{ attachment.image.url }}" alt="Attachment">
        </div>
        {% endfor %}
        {% else %}
        <p><em>No attachments.</em></p>
        {% endif %}
        <p>
            <strong>Created at:</strong> {{ journal.created_at }} <br>
            <strong>Last updated:</strong> {{ journal.updated_at }}
        </p>


        <button>
            Download
        </button>

        <button>
            Edit Entry
        </button>
    </main>

    <footer>
        <div>
            <img src="{% static 'images/logo.png' %}" alt="thoughtthread.">
        </div>
        <div id="ftr-nav">
            <a href="{% url 'index' %}">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <div id="ftr-cp">
            <a>&#169;ThoughtThread 2025</a>
        </div>
    </footer>
</body>

</html>